<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %> | Roll Up 2500</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<div>
			<%= raw @header.content %>
		</div>
		<%= yield %>
		<div>
			<%= raw @footer.content %>
		</div>
	</div>
</body>
</html>
